* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

html,
body,
#root {
  width: 100%;
  min-height: 100vh;
}

body {
  background: #020617;
  color: #ffffff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
}

.desktop-links {
  display: flex;
}

@media (max-width: 768px) {
  .desktop-links {
    display: none !important;
  }
}